.foto{
    background: rgb(69, 69, 70);
    background: linear-gradient(0deg, rgb(5, 5, 5) 0%, rgb(85, 84, 90) 100%);
    padding: 180px;
}

.img-profile{
    outline: 20px solid #b0a0ff77;
    background-color: #fff;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.me-1-container{
    width: 320px;
    height: 320px;
}
.me-image-1{
    width: 240px;
}